.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 10;
}

.nav li {
    display: inline;
    margin: 0 15px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

.nav a {
    color: #fff;
}

.nav a:visited {
    color: #fff;
}

.nav a:active {
    color: #fff;
}