.introduction {
    padding: 20px;
}

.introduction h2 {
    display: flex;
    font-family: 'Press Start 2P', cursive;
}

.introduction ul {
    list-style-image: url('../assets/star.png');
    padding-left: 20px;
}

.introduction li {
    padding-left: 10px;
    margin-bottom: 10px;
}


.box {
    width: 50px;
    margin-right: 8px;
}