.skills {
    padding: 20px;
}

.skills h2 {
    font-family: 'Press Start 2P', cursive;
}

.skills .skill h3 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.skills ul {
    list-style-image: url('../assets/star.png');
    padding-left: 20px;
}

.skills li {
    padding-left: 10px;
}